{% extends 'base.html' %}
{% block css %}
  <style>
    .question-box{
      border-bottom: 1px solid black;
    }
  </style>
{% endblock css %}
{% block content %}
  <div class="d-flex justify-content-end">
    <a href="{% url 'questions:create' %}">질문하기</a>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      {% for question in questions %}
      <div class="d-flex justify-content-between question-box p-2">
        <div>
          <div>
            <a href="{% url 'questions:detail' question.id %}">
              {{question.title}}
            </a>
          </div>
          <div>
            {{question.intro}}
          </div>
        </div>
        <div>
          <div>
            {{question.created_at|date:"Y-m-d H:i"}}
          </div>
          <div>
            {{question.user}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}