{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner bg-success mt-5">
    <div class="carousel-item index-carousel-item active">
      <h1 class="w-100 text-center">더 좋은 사람이 되고 싶습니다.</h1>
    </div>
    <div class="carousel-item index-carousel-item">
      <h1 class="w-100 text-center">지식을 발전시키겠습니다.</h1>
    </div>
    <div class="carousel-item index-carousel-item">
      <h1 class="w-100 text-center">배려하고 격려하겠습니다.</h1>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="mt-3">
  <div class="row row-cols-4 gx-5">
    {% for cheer in cheers %}
    <div>

      <div class="card ">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text py-5">{{cheer.content}}</p>
          <a class="card-link">Card link</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
{% block footer %}
<footer class="text-bg-dark d-flex justify-content-center align-items-center mt-3">개인 프로젝트 by sjh</footer>
{% endblock footer %}