{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Document</title>
  <style>
    .pos-logo{
      font-weight:bold;     
    }
    .pos-tech-nav{
      padding-bottom:2rem;
    }
  </style>
  {% block css %}{% endblock css %}
</head>
<body>
  <!-- navbar -->
  <div class="container pos-tech-nav">
  <nav class="navbar" style="vertical-align:middle;"role="navigation" aria-label="main navigation">
    
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item pos-logo" href="{% url 'articles:index' %}">
          Posgrowver
        </a>
  
        <a class="navbar-item" href="{% url 'articles:tech' %}">
          Documentation
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item">
              HTML
            </a>
            <a class="navbar-item">
              CSS
            </a>
            <a class="navbar-item">
              JavaScript
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Django
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if request.user.is_superuser %}
            <a class="button is-light">
              글쓰기
            </a>
            {% endif %}
            <a class="button is-primary">
              <strong>오늘도 화이팅</strong>
            </a>
            
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
  {% block content %}{% endblock content %}
  {% block script %}{% endblock script %}
</body>
</html>